/* Element [Tag] */
*{
    margin: 0;
    padding: 0;
}
body{
    border: 10px lightgray;
    background-color: rgb(53, 53, 53);
    margin: 10px auto;
} 
header{
    background-color: rgb(185, 184, 184);
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.4;
}
section{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 30px;
    margin-top: 50px;
}
article{
    line-height: 25px;
    font-size: 15px;
    text-align: justify;
}
.title{
    font-size: 23px;
    font-weight: bold;
}
.date{
    font-style: italic;
    font-size: 15px;
    text-transform: uppercase;
}
/* changing the nature */
nav > ul > li{
    display: inline-block;
    pad: 10px, 3px;
    font-size: 20px;
}
nav > ul > li > a{
    text-decoration: none;
    color: black;
    padding-right: 25px;
    padding-left: 25px;
}
nav > ul > li > a:hover{
    background-color: black;
    color: rgb(185, 184, 184);
    transition-duration: 300ms;
    transition-delay: 300ms;
}
img{
    /* width: 300px;
    height: 300px;
    border-radius: 100%; */

}
#clear{
    clear:left;
}
.q4{
    
}
#content{
    text-align: justify;
    margin-left: 300px;
    margin-right: 300px;
    color: white;
}
.Bimg{
    opacity: 0.5;
}
div > a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
div > a:hover{
    background-color: white;
    color: rgb(53, 53, 53);
    transition-duration: 300ms;
    transition-delay: 300ms;
}
